<footer>

    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <ul>
                    <li>Entrar</li>
                    <li>Criar conta</li>
                    <li>registar empresa</li>
                </ul>

            </div>

            <div class="col-md-4">
                <ul>
                    <li>Segurança</li>
                    <li>    Políticas e privacidade</li>
                        <li>Termos e condições</li>
                </ul>

            </div>

            <div class="col-md-4">
                <ul>
                    <li>Facebook</li>
                    <li>Twiiter</li>
                    <li>Instagram</li>

                </ul>
            </div>
        </div>
        <p class="">Todos direitos reservados &copy   {% now 'Y' %}</p>
    </div>


</footer>

