crispy-bootstrap5==0.7
dj-database-url==1.2.0
Django==4.1.7
django-crispy-forms==2.0
django-ninja==0.20.0
django-s3direct==2.0.3
django-tinymce==3.5.0
gunicorn==20.1.0
Jinja2==3.1.2
MarkupSafe==2.1.2
Pillow==9.4.0
psycopg2-binary==2.9.5
pydantic==1.10.5
pypugjs==5.9.12
requests==2.28.2
whitenoise==6.3.0
pycryptodome==3.16.0
sendgrid==6.10.0
django-sendgrid-v5==1.2.2

