{% extends "price/layout/base.html" %}
{% load staticfiles %}
{% comment %}
{% endcomment %}
{% load staticfiles %}
{# overide the tile of the page #}
{% block title %}
<title>Price</title>
{% endblock %}
{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}
link(rel="stylesheet",   href="{% static 'stylesheet/malangatana.min.css' %}")
link(rel="stylesheet",   href="{% static 'stylesheet/dashboard.css' %}")
link(rel="stylesheet",   href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
{% endblock %}
{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

main.layout-row
    {% include "dashboard/aside.jade" %}
    .layout
        .layout-header
            {% include "dashboard/menu.jade" %}


        .layout-content
           table.mtn-table
                thead.mtn-table-thead
                    tr
                        th
                            span.mtn-table-header-column #
                        th
                            span.mtn-table-header-column Nome
                        th
                            span.mtn-table-header-column Endereço
                        th
                            span.mtn-table-header-column Email
                        th
                            span.mtn-table-header-column Numero de telefone
                        th
                            span.mtn-table-header-column Edit
                        th
                            span.mtn-table-header-column Delete

                tbody.mtn-table-tbody
                    {% for company in companies %}
                    tr
                        th {{ company.id }}
                        td {{ company.commercial_name }}
                        td {{ company.address }}
                        td {{ user.email }}
                        td {{ company.user.phone_number }}


                        td
                            a(href="{% url 'user-delete' 1   %}")
                                i.far.fa-trash-alt
                        td
                            a(href="{% url 'user-update' 1   %}")
                                i.fas.fa-edit



                {% endfor %}

         .layout-footer
                p &copy; {% now 'Y' %} Preço

{% endblock %}









