{% extends "price/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{# overide the tile of the page #}
{% block title %}
<title>Price</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'stylesheet/main.css' %}">



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'stylesheet/dashboard.scss' %}">

{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}
    <script>
        $('#div_id_number').hide()
         $(document).ready(function(){
          $("select").change(function(){
                          $('#div_id_number').show();

          });
        });
    </script>
{% endblock %}


{% block content %}

<main>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2 aside">
                {% include "dashboard/layout/aside.jade" %}

            </div>

            <div class="col-md-10">
                            {% include "dashboard/layout/menu.jade" %}

                <section>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.name|as_crispy_field }}
                        {{ form.description|as_crispy_field }}

                        <div class="row">
                            <div class="col-6">
                                  {{ form.price|as_crispy_field }}

                            </div>
                            <div class="col-6">
                                {{ form.company|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                {{ form.categories|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.type_of_discount|as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.total_number_of_click|as_crispy_field }}
                            </div>

                        </div>

                        {% for message in messages %}
                        <p> {{ message }}</p>
                        {% endfor %}
                        <button type="submit" class="btn btn-success">Create Product</button>
                    </form>

                </section>
            </div>
        </div>
    </div>
</main>


{% endblock %}





