{% extends "price/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>Price</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

<main>



    <div class="container">
        <div class="row">



	 <div class="sign">
	 	                      <h1><img src="{% static 'images/logo2.png' %}" class="logo" alt="price logo"></h1>
 								<h2 class="text-center">

Esqueceu a senha</h2>


	 		<div class="message">
  <p>
    Enviámos-lhe instruções para definir a sua senha, se existir uma conta com o email que introduziu. Você deve recebê-los em breve.

  </p>


  <p>
   Se você não receber um e-mail, verifique se inseriu o endereço com o qual se registrou e verifique sua pasta de spam.
  </p>

    <p class=""><a class=" href="{% url 'signin' %}">Iniciar Sessão</a> ou <a class="unstyledLink" href="{% url 'signin' %}"> criar conta</a></p>

  </div>

     </div>
        </div>

    </div>
   </main>


{% endblock %}








