{% extends "price/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}



<link rel="stylesheet"  href="{% static 'stylesheet/kutiva/library/malangatana.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/account/signin.css' %}">

{% endblock %}





{% block content %}
<main>

<div class="container">
    <div class="row justify-content-center align-items-center">


        <div class="sigin">
        <form class="alignElementCenter"   method="post">

            {% csrf_token %}
            {{ form.commercial_name|as_crispy_field }}
            {{ form.phone_number|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            <div class="row">
                <div class="col-6">
                    {{ form.password1|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.password2|as_crispy_field }}
                </div>
            </div>

            {% for message in messages %}
            <p> {{ message }}</p>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Criar conta</button>

        </form>

    </div>
</div>
</div>
</main>
{% endblock %}

