{% extends "price/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{# overide the tile of the page #}
{% block title %}
<title>kutiva</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}



<link rel="stylesheet"  href="{% static 'stylesheet/kutiva/library/malangatana.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/account/signin.css' %}">
<style>
    h2{
            font-weight: 300;
    }
    h3{
        font-weight: 300;
        text-align: center;
    }
    a{
        color:white;
    }
    a:hover{
        color:white;
    }
</style>
{% endblock %}





{% block content %}
<main>

    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="sigin">
                <h2 class="text-center">Conta criada com sucesso</h2>

                <h3>Obrigado pelo registo
                </h3>
                <p class="text-center">
                    Enviamos os seus dados de acesso para o <strong>{{ request.user.email }}</strong>, nossa equipa está a trabalhar na configuração da sua conta.
                    Em breve entraremos em contacto.
                </p>
                <button type="submit" class="btn btn-primary"><a href="{% url 'index' %}">Voltar </a></button>

            </div>



        </div>
    </div>
    </div>
</main>
{% endblock %}

