.aside{
    background-color:#0052CC;
    height: 100vh;
}
aside ul{
    list-style: none;
    color: white;
}
ul li a{
    color: white;
}
ul li a:hover{
    color: white;
}
.icon {
    text-align: center;
        font-size: 40px;

}

aside ul li{
    font-size: 16px;
    padding: 5px;
    list-style: none;
}
.card {
    height: 200px;
    border:none;

}
.card h1{
    text-align: center;
    font-size: 24px;
}
.card h2{
      text-align: center;
}
