
@import url('https://fonts.googleapis.com/css?family=Mada:400,500,600,700&display=swap');
body{
    background-color:#fafafb;
    color:#4b4f54!important;
    font-size:15px!important;
}

.menuBar{

}

.header{
    height: 40px;
    background-color: white;
    text-align: right;
    padding-right: 8%;
}
.header ul{
    list-style: none;
    margin-top: 20px;
}
.header ul li{
    margin: 10px;
    display: inline;
    list-style: none;
}

nav h1{
    font-size: 14px;
    font-weight: bold;
}

nav ul{
    list-style: none;
    padding:0;
    margin: 0;
}
.logo{
    background-color: whitesmoke;
    height: 200px;
    width: 190px;
    border: 1px solid white;

}
.logo img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: gray;
    filter: grayscale(100%);
}
.products img{
    height: 150px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: gray;
    filter: grayscale(100%);
}
.products h2{
    font-size: 18px;
}
.products h3{
    font-size: 16px;
}
.sigin{
    background-color: white;
    width: 500px;
    height: auto;
    padding: 29px;

}
.sigin h1{
    text-align: center;
}
.sigin a{
    display: block;
    text-align: center;

}
 nav {
    margin-bottom: 50px;

}
.sigin button{
    display: block;
    margin: auto;
    width: 185px;
}
input[type="search"] {
    /* display: block;
    margin : 0 auto;
    margin-left: 200px;

    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 500px; */

    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    
    display: block;
    margin: 0 auto;
    margin-left: 200px;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    background-image: none;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.15)
}
.navbar button{
    margin: 0 10px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    color:#333;
}
footer ul{
    margin-top: 20px;
    list-style: none;
}
footer p{
    text-align: center;
}







