:root {
    --primaryColor: #222;
    --baseColor: #fff;
    --link-color:#068eef;
    --fontBaseColor:#999;

}

a:hover{
    text-decoration: none;
}
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
    margin: 0;
    font-family: proxima-nova,Arial,Helvetica,sans-serif;
    color: #444;

}
.card{
    margin: 20px 0;
}

ul li {
    padding: 0;
    list-style: none;

}
nav{
    height: 80px;
    background-color: white;
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;

}
nav ul{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    font-size: 15px;
    text-transform: capitalize;
    display: inline;
    color: #6a6d73;
    
}
.menu-item{
    text-align: center;
    margin: 10px 70px 0 0;
}
nav ul li a{
    display: block;
    color: #333;
    font-weight: bold;
    font-size: 17px;
 
}
nav ul li  span{
    color:#333;
    display: inline-block;
    font-size: 23px;
}



.add-product-link:hover{
    text-decoration: none;
    color: white;
}

.add-product-link{
    color: white;
}

.product-list-image{
    width: 50px;
    margin: 0px 20px 10px 0;
}