 {% for company in companies %}
                    <div class="col-md-3">
                        <a href="{% url 'products' company.id   %}">
                        <div class="company">
                            <img src="{{ company.company_logo.url }}" alt="{{ company.commercial_name }} logo ">

                                
                            <h2 class="commercial-name">{{ company.commercial_name }}</h2>
                           <!-- <h3>{{ company.address }} MT</h3>-->

                        </div>
                            </a>
                    </div>
{% endfor %}