{% extends "price/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load static %}
{% load crispy_forms_tags %}
{# overide the tile of the page #}
{% block title %}
<title>{{ store.name|title }} </title>
{% endblock %}
{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}


link(rel="stylesheet",   href="{% static 'stylesheet/dashboard/store.css' %}")

link(rel="stylesheet",   href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")



{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}



{% block content %}

main
    .container-fluid
        .row
            .col-md-12
                {% if store.logo %}
                h1
                    a(href="{% url 'index' store.name %}")
                        img(src="{{ store.logo }}", alt="{{ store.name }}", class="store-logo")

                {% else %}
                h1
                    a(href="{% url 'index' store.name %}") {{ store.name }}

                {% endif %}
                nav
                    ul
                        li
                            a(href="{% url 'index' store.name %}")  página inicial
                        li
                            a(href="{% url 'index' store.name %}")  Productos
    .container
        .row

           .col-md-7
                img(src="{{ product.image }}", alt="{{ product.name }}", class="product-image")





          .col-md-12
                 {% include "store/layout/footer.jade" %}





{% endblock %}
