header
    nav
        ul
            li
                a(href="{% url 'product-create' %}", class="link") Ver Loja

            li
                a(href="{% url 'product-create' %}", class="eka-button") Mudar Pacote

            li
                a(href="{% url 'logout' %"})
                    <i class="fas fa-user-circle"></i>

