{% extends "price/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}
{% load sass_tags %}
{# overide the tile of the page #}
{% block title %}
    <title>Price</title>
{% endblock %}

{% block styles %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" , content="IE=edge">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

    <main>

        {% include "price/layout/navegation.html" %}


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-content">

                        <h1 class="hero-title text-center">Lojas online para pequenos negócio</h1>
                        <h2>Tornamos mais simples construir uma loja online exclusiva, vender os seus productos e
                            administrar sua loja.</h2>

                    </div>
                </div>


                <p class="text-center">Não cobramos comissões nem cobramos muitas taxas. Basta escolher um de nossos
                    planos mensais acessíveis para atender às suas necessidades e orçamento.</p>
                <div class="col-md-3">
                    <article class="price">
                        <p>5 productos</p>
                        <h1>Gratis</h1>
                        <p>sem comissões</p>
                        <button>criar conta</button>

                        <ul>
                            <li>here</li>
                        </ul>
                    </article>
                </div>
                <div class="col-md-3">
                    <article class="price">
                        <p>50 productos</p>
                        <h1>Startup</h1>
                        <p>sem comissões</p>
                        <button>criar conta</button>

                        <ul>
                            <li>here</li>
                        </ul>
                    </article>
                    =
                </div>
                <div class="col-md-3">
                    <article class="price">
                        <p>250 productos </p>
                        <h1>Business</h1>
                        <p>sem comissões</p>
                        <button>criar conta</button>

                        <ul>
                            <li>here</li>
                        </ul>
                    </article>
                </div>
                <div class="col-md-3">
                    <article class="price">
                        <p>500 productos</p>
                        <h1>Empresas</h1>
                        <p>sem comissões</p>
                        <button>criar conta</button>

                        <ul>
                            <li>here</li>
                        </ul>
                    </article>
                </div>


            </div>
        </div>


        </div>
    </main>
    {% include "price/layout/footer.jade" %}


{% endblock %}





