body{
    background-color: whitesmoke;
}


.header{
    height: 50px;
    background-color: white;
}
.header ul{
    list-style: none;
}
.header ul li{
    display: inline;
    list-style: none;
}

nav h1{
    font-size: 14px;
    font-weight: bold;
}

nav ul{
    list-style: none;
    padding:0;
    margin: 0;
}
.logo{
    background-color: whitesmoke;
    height: 200px;
    width: 190px;
    border: 1px solid white;

}
.logo img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: gray;
    filter: grayscale(100%);
}
