<footer>

    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <ul>
                   
                    <li><a href=" {% url 'signin' %}" title="" >Entrar</a></li>
                    <li><a href=" {% url 'signup' %}" title="" >Criar conta</a></li>
                    <li><a href=" {% url 'company' %}" title="" >Registar empresa</a></li>
                   
                </ul>

            </div>

            <div class="col-md-4">
                <ul>
                    <li><a href=" {% url 'security' %}" title="" >Segurança</a></li>
                    <li><a href=" {% url 'policies' %}" title="" >Políticas e privacidade</a></li>
                    <li><a href=" {% url 'terms' %}" title="" >Termos e condições</a></li>
            
                </ul>

            </div>

            <div class="col-md-4">
               
                <ul>
                    {% for media in social_media %}
                  
                  
                    <li><a href="{{ media.url }}" target="_blank"> {{ media.name }}</a></li>
                   
                    {% endfor %}
                </ul>
            </div>
        </div>
        <p class="">Todos direitos reservados &copy   {% now 'Y' %}</p>
    </div>


</footer>

