footer


    .desktop-footer
            section
                ul
                    li
                      a(href=" {% url 'signin' %}) Entrar
                    li
                      a(href=" {% url 'company  ' %}) Registar Empresa
                    li
                      a(href=" {% url 'signup' %}) Criar conta

            section
                ul
                    li
                      a(href=" {% url 'security' %}) Segurança
                    li
                      a(href=" {% url 'policies  ' %}) Políticas e privacidade
                    li
                      a(href=" {% url 'terms' %}) Termos e condições
            section
                ul
                    li
                      a(href=" {% url 'index' %}) facebook
                    li
                      a(href=" {% url 'index' %}) twitter
                    li
                      a(href=" {% url 'index' %}) instagram






        .mobile-footer


            p &copy; {% now 'Y' %} Preço





