<footer style="background-color: #ccdbea!important;">

    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <ul>
                   
                    <li><a href=" {% url 'signin' %}" title="" >Entrar</a></li>
                    <li><a href=" {% url 'signup' %}" title="" >Criar conta</a></li>
                   
                </ul>

            </div>

           

            <div class="col-md-4">
              

            </div>

            <div class="col-md-4">
               
                    <ul>
                            <li><a href="#"><i class="fab fa-twitter" style="padding-right: 10px"></i>Twitter</a></li>
                            <li><a href="#"><i class="fab fa-facebook-f " style="padding-right: 10px"></i>Facebook</a></li>
                            <li><a href="#"><i class="fab fa-instagram" style="padding-right: 10px"></i>Instagram</a></li>
                
                    </ul>
            </div>
        </div>
    </div>


</footer>

