footer

    {% if user.is_authenticated %}
    {% include "price/layout/mobile-bottom-menu.html" %}
    .desktop-footer
        .container
            .row



                .col-md-12
                    ul
                        li
                            a(href="{% url 'security' %}") Segurança
                        li
                            a(href="{% url 'policies' %}") Políticas e privacidade
                        li
                            a(href="{% url 'terms' %}") Termos e condições

                .col-md-12

                    p &copy; {% now 'Y' %} Preço

    {% else %}
    .desktop-footer
        .container
            .row
                .col-md-12
                    ul
                        li
                            a(href="{% url 'security' %}") Segurança
                        li
                            a(href="{% url 'policies' %}") Políticas e privacidade
                        li
                            a(href="{% url 'terms' %}") Termos e condições

                .col-md-12
                    p &copy; {% now 'Y' %} Preço
    .mobile-footer
        p &copy; {% now 'Y' %} Preço

    {% endif %}



