<footer>
    {% if user.is_authenticated %}

    {% include "price/layout/mobile-bottom-menu.html" %}

{% else %}
      <div class="container">

        <div class="row">

            <div class="col-md-4 col-xs-3 col-sm-3">
                <ul class="hide">

                    <li><a href=" {% url 'signin' %}" title="" >Entrar</a></li>

                    <li><a href=" {% url 'company' %}" title="" >Registar Empresa</a></li>
                    <li><a href=" {% url 'signup' %}" title="" >Criar conta</a></li>

                </ul>

            </div>



            <div class="col-md-4 col-xs-3 col-sm-3">

                <ul class="hide">
                    <li><a href=" {% url 'security' %}" title="" >Segurança</a></li>
                    <li><a href=" {% url 'policies' %}" title="" >Políticas e privacidade</a></li>
                    <li><a href=" {% url 'terms' %}" title="" >Termos e condições</a></li>

                </ul>
            </div>

            <div class="col-md-4 col-xs-3 col-sm-3">

                    <ul class="hide">
                            <li> Twitter</a></li>
                            <li>Facebook</a></li>
                            <li>Instagram</a></li>

                    </ul>
            </div>
             <div class="mobile-utilities">
                 <ul>
                    <li><a href=" {% url 'signin' %}" title="" >Entrar</a></li>

                    <li><a href=" {% url 'company' %}" title="" >Registar Empresa</a></li>
                    <li><a href=" {% url 'signup' %}" title="" >Criar conta</a></li>

    </ul>


                   <ul>
                            <li> Twitter</a></li>
                            <li>Facebook</a></li>
                            <li>Instagram</a></li>

                    </ul>
              <ul>
                    <li><a href=" {% url 'security' %}" title="" >Segurança</a></li>
                    <li><a href=" {% url 'policies' %}" title="" >Políticas e privacidade</a></li>
                    <li><a href=" {% url 'terms' %}" title="" >Termos e condições</a></li>

                </ul>

            </div>
            <ul class="mobile-footer">
                <li> &copy; {% now 'Y' %} Preço</li>
                <li>Recursos Utilitários  </li><span class="show-footer"><i class="fas fa-chevron-down"></i></span>
            </ul>



        </div>
    </div>

{% endif %}


</footer>

