{% load staticfiles %}

nav.mobile-menu
    {% if user.is_authenticated %}
    ul
        li
            h1
                a(href='{% url "index"  %}') Preço

        //li
            i.fas.fa-search
        li
            a(href="{% url 'order-summary' %}")
                img(src="{% static 'images/shopicon.svg' %}", alt="" class="cart-icon")
                {% if order.product %}
                <span class="cart-number-order" >
                {{ order.product.all.count }}
                </span>
                {% endif %}

    {% else %}

    ul
        li

            a(href='{% url "signin"  %}')
                i.far.fa-user
        li
            h1
                a(href='{% url "index"  %}') Preço

        //li
            i.fas.fa-search
        li

            img(src="{% static 'images/shopicon.svg' %}", alt="", class="cart-icon")

{% endif %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{% if message.tags %} {% endif %}{{ message }}</div>
{% endfor %}

{% endif %}