{% load staticfiles %}

<script  src="{% static 'javascript/navegation.js' %}"></script>




<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container">
        <a class="navbar-brand" href="{% url 'index'%}"><img src="http://dreamguys.co.in/demo/ventura/assets/img/logo.png" style="    max-height: 40px;
            width: auto;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class="navbar-nav mr-auto">
            <input type="search" placeholder="pesquisar" style="color: #fff">
        </div>
        <ul class="navbar-nav">

            <button  class="btn btn-light" style="color: #3949ab;">Entrar</button>
            <button  class="btn btn-primary">Criar conta</button>


        </ul>
    </div>

    </div>
</nav>

