<style>
body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  width: 300px;
  top: 0;
  left: 0;
  background-color:#0052CC;;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: white;
}


.active {
  background-color:#0052CC;
  color: white;
}
.dropdown-container {
  display: none;
  background-color:#0052CC;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}

  .sidenav a {font-size: 18px;}
}
</style>


    <div class="sidenav">
  <a href="{% url 'dashboard' %}"><i class="fas fa-palette"></i> painel</a>
      <button class="dropdown-btn"><i class="fas fa-boxes"></i>  Product
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
   <a href="{% url 'product-create' %}"> New products</a>
   <a href="{% url 'product-list' %}"> All products</a>
  </div>
  <a href=" {% url 'order' %}"><i class="fas fa-shopping-bag"></i>  Encomendas</a>
  <a href="{% url 'user-list' %}"><i class="fas fa-users"></i>  Usuarios</a>

  <a href=" {% url 'companies' %}"><i class="fas fa-building"></i> Empresas</a>
  <a href=" {% url 'companies' %}"><i class="fas fa-cog"></i>  Definições</a>
    </div>


    <script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
      } else {
      dropdownContent.style.display = "block";
      }
      });
}
</script>
</aside>