{% extends "price/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>Price</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'stylesheet/main.css' %}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

<main>
    <div class="header">
       


                   
                    <ul>
                        <i class="far fa-envelope"></i> <li>info@preco.co.mz</li>
                        <i class="fas fa-mobile-alt"></i><li>+258849395994</li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-facebook-f"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                    </ul>
              
         
</div>

{% include "price/layout/navegation.html" %}


    <div class="container">
        <div class="row">
        

            

                <div class="col-md-3">
                    
                      <div class="wrapper-menu">
                        

                            <ul class="nav flex-column flex-nowrap">
                                <li class="nav-item"><a class="nav-link link-side" href="#"><i class="fas fa-laptop icon-menu"></i>Computer</a></li>
                                <li class="nav-item"><a class="nav-link link-side" href="#"><i class="fas fa-couch icon-menu"></i>Furniture</a></li>
                                <li class="nav-item"><a class="nav-link link-side" href="#"><i class="fas fa-shopping-basket icon-menu"></i>Grocery & Gourmet</a></li>
                                <li class="nav-item"><a class="nav-link link-side" href="#"><i class="fas fa-heartbeat icon-menu"></i>Health & Beauty</a></li>
                                <li class="nav-item"><a class="nav-link link-side" href="#"><i class="fas fa-tachometer-alt icon-menu"></i>Home Improvement</a></li>
                                <li class="nav-item"><a class="nav-link link-side" href="#"><i class="fas fa-gem icon-menu"></i>Jewerly & Watches</a></li>
                                   
                            </ul>

                      </div>

                      </div>


                      <div class="col-md-9">
                          
                            {% block  contentdashboard %}

                       {%  endblock%}
                          </div>
        

    </div>
    </div>
</main>
<!-- 
{% include "price/layout/footer.html" %} -->
{% endblock %}





