{% load staticfiles %}

<script  src="{% static 'javascript/navegation.js' %}"></script>




<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="nav navbar-nav ml-auto">

               <li><i class="fas fa-bell"></i></li>
                <div class="dropdown">
  <li class=" dropdown-toggle "id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user"></i>
  </li>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{%  url 'logout' %}">Logout</a>
          <a class="dropdown-item" href="">Definições</a>
      </div>
    </div>



            </ul>
        </div>

    </div>
</nav>

