{% extends "price/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>Price</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />

{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}




{% endblock %}


{% block contentpainel %}
<div class="container">
    <div class="row">
       <div class="col-12">
           <h5>Estatistica</h5>
       </div>
    </div>

    <div class="row">
            <div class="col-sm-12 col-md-4">
                    <div class="box-statistic">
                            <h5>59</h5>
                        </div>
                    <p>Numero de Empresas</p>
             </div>
            <div class="col-sm-12 col-md-4">
                <div class="box-statistic">
                    <h5>89</h5>
                </div>
            <p>Numero de Vendas</p>
            </div>
            
            <div class="col-sm-12 col-md-4">
                <div class="box-statistic">
                    <h5>55</h5>
                </div>
            <p>Numero de Pedidos</p>
            </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div id="piechart" style="margin-left: -100px;"></div>

            <p>Numero de Vendas Por Producto</p>

         </div>
        <div class="col-sm-12 col-md-4">
                        
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        <p>Numero de Vendas Por Empresas</p>
        </div>
        
        <div class="col-sm-12 col-md-4">
           
                            <canvas id="chLine"  style="height: 300px; width: 100%;"></canvas>

                            <p>Numero de descontos Vendidos</p>
                       
        </div>
</div>




</div>
{% endblock %}





