{% load staticfiles %}
{% load sass_tags %}
!!! 5
html(lang="en")
  head
    title Error 404
    link(rel="stylesheet",   href="{% static 'stylesheet/malangatana.min.css' %}")
  body
    main
        .error-page.mtn-flex-align-center
                .error-404
                     h1.align-center Erro de servidor 500

                     p.align-center  Erro interno do servidor  Clica aqui para
                             a(href="{% url "index" %}") Voltar


