{% extends "price/layout/base.html" %}
{% load staticfiles %}

{% comment %}

{% endcomment %}
{% load staticfiles %}

{# overide the tile of the page #}
{% block title %}
<title>Price</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

<main>



    <div class="container">
        <div class="row justify-content-center align-items-center">


            <div class="sigin">
                <form>
                    <h1 class="">Logo</h1>
                    <div class="form-group">
                        <label for="name">Nome comercial</label>
                        <input type="text" class="form-control" id="name" aria-describedby="namelHelp" placeholder="Nome">
                    </div>


                    <div class="form-group">
                        <label for="phone">Numero de telefone</label>
                        <input type="text" class="form-control" id="phone" aria-describedby="namelHelp" placeholder="Numero de telefone">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="address">Endereço</label>
                        <input type="text" class="form-control" id="address" placeholder="Endereço">
                    </div>

                    <button type="submit" class="btn btn-primary">Registar Empresa</button>


                </form>
            </div>

        </div>

    </div>
    <form>

</main>


{% endblock %}





